<%= form_for(roaster) do |f| %>
  <% if roaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roaster.errors.count, "error") %> prohibited this roaster from being saved:</h2>

      <ul>
      <% roaster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="type">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_area :name %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div class="field">
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>

      <div class="actions">
        <%= f.submit 'Save', class: 'button' %>
      </div>
    </div>
  </div>
<% end %>
