<div class="container">
  <h1>Beans</h1>
  <% @beans.each do |bean| %>
    <div class="card">
      <div>
        <%= image_tag bean.image.thumb('100x100#').url if bean.image_stored? %>
      </div>
      <div class="type">
        <p><%= link_to bean.name, bean %></p>
        <p>by <%= link_to bean.roaster.name, roaster_path(bean.roaster) %></p>
        <p><%= bean.description %></p>
        <p><%= bean.roast %> roast</p>
      </div>
    </div>
  <% end %>

  <%= link_to 'Add beans', new_bean_path, class: 'button' %>
</div>
