<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field(:bean_id) %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :sour %>
    <div class="range">
      <%= f.range_field(:sour, in: 1..10, class: 'range__input') %>
      <div class="range__value"></div>
    </div>
  </div>

  <div class="field">
    <%= f.label :sweet %>
    <div class="range">
      <%= f.range_field(:sweet, in: 1..10, class: 'range__input') %>
      <div class="range__value"></div>
    </div>
  </div>

  <div class="field">
    <%= f.label :salty %>
    <div class="range">
      <%= f.range_field(:salty, in: 1..10, class: 'range__input') %>
      <div class="range__value"></div>
    </div>
  </div>

  <div class="field">
    <%= f.label :nutty %>
    <div class="range">
      <%= f.range_field(:nutty, in: 1..10, class: 'range__input') %>
      <div class="range__value"></div>
    </div>
  </div>

  <div class="field">
    <%= f.label :bitter %>
    <div class="range">
      <%= f.range_field(:bitter, in: 1..10, class: 'range__input') %>
      <div class="range__value"></div>
    </div>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <div class="range">
      <%= f.range_field(:rating, in: 1..10, class: 'range__input') %>
      <div class="range__value"></div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'button' %>
  </div>
<% end %>
